:root {
  --background: #f7f7f7;
  --text: black;
  --button: white;
  --button-active: #eeeeee;
  --button-hover: #efefef;
}

* {
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--text);
}

/* Desktop Styles */
@media (min-width: 75rem) {
  * {
    font-size: 20px;
  }

  .container {
    width: 45rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c2128;
    --text: #adbac7;
    --button: #373e47;
    --button-active: #eeeeee;
    --button-hover: #444c56;
  }
}
